body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: bolder;
    color: cadetblue;
}

.container{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}
.game{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    color: cornflowerblue;
}